.section-project .text-2 {
  color: white;
  margin: 50px;
}
.section-project .projects-line {
  position: fixed;
  height: 100%;
  width: 2px;
  background: linear-gradient(white, black);
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.section-project .projects-line-dark {
  position: absolute;
  height: 1650px;
  width: 2px;
  background: linear-gradient(black, white);
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.section-project .projects {
  max-width: 90vw;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}
.section-project .projects ul, .section-project .projects li {
  list-style: none;
  padding: 0;
}
.section-project .projects .card {
  position: relative;
  padding: 25px;
  height: 400px;
  width: 600px;
}
.section-project .projects .card:hover > .card-link {
  opacity: 1;
}
.section-project .projects .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-project .projects .card-link {
  color: white;
  height: 50px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  position: absolute;
  bottom: 25px;
  opacity: 0;
  font-size: 30px;
  transition: 0.5s ease-in-out;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.section-project .projects .card-link a {
  margin: 0 50px;
  color: black;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}
.section-project .projects .card-link a:hover {
  opacity: 1;
}
.section-project .projects .card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}
.section-project .projects .card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-project .projects .card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.section-project .projects .open .card-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
  pointer-events: none;
}
.section-project .projects .card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-project .projects .card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100vw;
}
.section-project .projects .open .card-image-container,
.section-project .projects .open .title-container {
  z-index: 1;
}
.section-project .projects .title-container {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 300px;
}
.section-project .projects .open .title-container {
  top: 30px;
  left: 30px;
}
.section-project .projects h2 {
  color: #fff;
  margin: 8px 0;
}
.section-project .projects .category {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.section-project .projects .overlay {
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.section-project .projects .overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.section-project .projects .content-container {
  padding: 460px 35px 35px 35px;
  max-width: 700px;
  width: 90vw;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .section-project {
    padding: 50px 0 0 0 !important;
  }
  .section-project .projects-line, .section-project .projects-line-dark {
    display: none !important;
  }
  .section-project .projects {
    flex-direction: column;
  }
  .section-project .projects .card {
    left: 0 !important;
  }
  .section-project .projects .card-image {
    height: 300px;
  }
  .section-project .projects .card-content {
    max-width: 300px !important;
  }
  .section-project .projects .card-link {
    opacity: 1;
  }
  .section-project .projects .content-container {
    padding-top: 350px;
  }
  .section-project .projects .content-container p {
    width: 90%;
  }
  .section-project .text-2 {
    display: none !important;
  }
}

/*# sourceMappingURL=ProjectPage.css.map */
